/* .chat-page {
  height: 100vh;
} */

.chat-list.selected-chat {
  background-color: #d9d4d4;
}


.inbox-header {
  border:1px solid black;
  padding: 10px;
  margin-right: 5px;
}

.chat-list {
  border-right: 1px solid black;
  overflow: auto;
  padding: 16px;
}

.chat-item {
  cursor: pointer;
  padding: 8px;
}

.chat-content {
  padding: 16px;
  border: 3px solid #ccc;
  height: 540px;
  overflow-y: auto;
  overflow-x: hidden;
}

.chat-header {
  margin-bottom: 16px;
}

.chat-bubble {
  display: flex;
  align-items: flex-start;
  margin-bottom: 8px;
  justify-content: flex-end; /* Align to the right */
  flex-wrap: wrap; /* Wrap long messages */
  max-width: 80%;
  margin-left: auto;
  word-break: break-word; /* Break long words */
  overflow-wrap: break-word; 
}

/* .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 8px;
  } */

.message {
  margin: 0;
}